<% @products.each do |wine| %>  
  <tr>
    <td><%= wine.name || "Not Listed" %></td>
    <td><%= wine.retail_price || "Not Listed" %></td>
    <td><%= wine.vineyard || "Not Listed" %></td>
    <td><%= wine.rating %></td>
    <td><%= link_to "Edit Product", edit_product_path(wine), :class => "btn btn-primary" %></td>
  </tr>
<% end %>