<div class="container">
  <h1>Wine Management System</h1>
  <%= form_tag(search_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
    <%= submit_tag "Search" %>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Retail Price</th>
        <th>Vineyard</th>
        <th>Rating</td>
      </tr>
      <%= render 'results' %>
    </thead>
  </table>
  <div>
    <%= will_paginate @products %>
  </div>
  <div>
    <%= link_to "Create New Product", new_product_path %>
  </div>
</div>